<!DOCTYPE html>
<html>
    <meta charset="UTF-8"></head>
    <title>Home</title>
    <body>
        <h1><%- pageName %></h1>
        <form action="/alumnos" method="post">
            <fieldset>
              <legend>Registro de Alumno</legend>
              <label for="nombre">Nombre:</label>
              <input type="text" id="nombre" name="nombre" /><br /><br />
              
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" /><br /><br />
              <input type="submit" value="submit" />
            </fieldset>
          </form>

        <ul>
            <% alumnos.forEach(function(item,index) { %>
                <li> <%= item.email %> </li>
            <% }) %>
        </ul>
    </body>
</html>