<!DOCTYPE html>
<html>
    <meta charset="UTF-8"></head>
    <title>Home</title>
    <body>
        <h1>Bienvenido</h1>
        <h2>Menu</h1>
            <a href="alumnos">Alumnos</a>
    </body>
</html>
